 .paper {
     display: flex;
     padding: -50px;
     width: 600px;
     height: 380px;
     margin: auto;
     background-color: #666688
 }
 
 .board {
     display: grid;
     padding: 20px;
     grid-template-columns: repeat(3, 1fr);
     width: 300px;
 }
 
 .borderLeft {
     position: absolute;
     height: 114px;
     width: 7px;
     background-color: #800080;
     border-radius: 4px;
     margin-top: -108px;
     margin-left: -3px;
 }
 
 .borderBottom {
     position: absolute;
     width: 114px;
     height: 7px;
     background-color: #800080;
     border-radius: 4px;
     margin-left: -8px;
     margin-top: -7px;
 }